li>a {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #FFF8E8;
}

li>a:hover {
    color: #FFF8E8;
    text-decoration: none;
}

li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF8E8;
    ;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

li>a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* */

.section>.fp-tableCell .fadeLeft {
    transform: translateX(-4em);
    opacity: 0;
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity .8s ease-in-out;
    max-width: 100%;
    margin: 0 2em;
    text-align: center;
}

.section.active>.fp-tableCell .fadeLeft {
    transition-delay: .3s;
}

.section.active>.fp-tableCell .fadeLeft {
    transform: translateX(0);
    opacity: 1;
    max-width: 100%;
    margin: 0 2em;
    text-align: center;
}

.section.active>.fp-tableCell .fadeRight {
    transition-delay: .3s;
}

.section>.fp-tableCell .fadeRight {
    transform: translateX(4em);
    opacity: 0;
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity .8s ease-in-out;
    max-width: 100%;
    margin: 0 2em;
    text-align: center;
}

.section.active>.fp-tableCell .fadeRight {
    transform: translateX(0);
    opacity: 1;
    max-width: 100%;
    margin: 0 2em;
}

/* @media (min-width: 600px) { */

@media (min-width:600px) {
    .section>.fp-tableCell .aboutMe {
        transform: translateX(-8em);
        opacity: 0;
        transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity .8s ease-in-out;
        max-width: 50%;
        padding: 0 0 0.8em 8em;
        margin: -12em 0 0 0;
        border-bottom: solid 0.2em #FFF8E8;
        text-align: right;
    }
    .section.active>.fp-tableCell .aboutMe {
        transform: translateX(0);
        opacity: 1;
        max-width: 50%;
        padding: 0 0 0.8em 8em;
        margin: -12em 0 0 0;
        text-align: right;
        transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity .8s ease-in-out;
        border-bottom: solid 0.2em #FFF8E8;
    }
    .section>.fp-tableCell .titlePage {
        transform: translateX(-8em);
        opacity: 0;
        transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity .8s ease-in-out;
    }
    .section.active>.fp-tableCell .titlePage {
        transform: translateX(0);
        opacity: 1;
        transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity .8s ease-in-out;
    }
}

.section.active>.fp-tableCell .aboutMe {
    transform: translateX(0);
    opacity: 1;
}

.section>.fp-tableCell .titlePage {
    transform: translateX(-8em);
    opacity: 0;
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity .8s ease-in-out;
}

.section.active>.fp-tableCell .titlePage {
    transform: translateX(0);
    opacity: 1;
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity .8s ease-in-out;
}

/**
My Skills
**/

.section>.fp-tableCell .mySkills {
    text-align: center;
    transform: translateX(-8em);
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity .8s ease-in-out;
    margin: 0 0 2em 0;
}

.section>.fp-tableCell .mySkills>.titlePage {
    margin: 0 0 1.5em 0;
}

.section.active>.fp-tableCell .mySkills {
    transform: translateX(0);
    opacity: 1;
    text-align: center;
}

/* } */

.section.active>.fp-tableCell .aboutMe {
    transition-delay: .3s;
}

.section.active>.fp-tableCell .titlePage {
    transition-delay: .1s;
}

/**/

.aboutPage1>.fp-tableCell .fadeLeft {
    transform: translateX(-4em);
    opacity: 0;
    transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 0.9s ease-in-out;
}

.aboutPage1.active>.fp-tableCell .fadeLeft {
    transform: translateX(0);
    opacity: 1;
}

.aboutPage1.active>.fp-tableCell .fadeLeft {
    transition-delay: .3s;
}

/* Skills */

/* Skill tiles */

.skillTile+ul,
.skillTile {
    padding-top: 38px;
    border: double 3px white;
    border-radius: 50%;
    transition: 0.2s;
    text-align: center;
    margin: auto;
    transition: border-radius 0.3s, height 0.3s, width 0.3s 0.3s;
    cursor: pointer;
}

.skillTile {
    height: 100px;
    width: 100px;
}

.skillTile+ul {
    height: 0;
    width: 0;
    position: fixed;
    opacity: 0;
}

.skillTile:hover+ul {
    transform: translate(-50%, -50%);
    left: 50%;
    opacity: 1;
    border: none;
    border-radius: 0;
    height: 200px;
    width: 200px;
    background-color: rgba(4, 21, 34, 0.6);
}

.section>.fp-tableCell .fade {
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
}

.section.active>.fp-tableCell .fade {
    opacity: 1;
}

#home {
    animation: fadein 3s;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}